

.account { 
  padding: 0 12px;

  .form {
    :global {
      .za-cell:after {
        left: unset;
        /*--- 去除顶部边框 --*/
        border-top: unset;
        /*--- 设置底部边框 --*/
        border-bottom: 1px solid #e9e9e9;
      }
    }
  }
  .btn {
    margin-top: 50px;
  }
}